[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Hugin CLI
Icon=/opt/hugin-cli/icon.png
Path=/opt/hugin-cli
Exec=x-terminal-emulator --title "Hugin CLI" -e "bash -c '/opt/hugin-cli/Hugin;$SHELL'"
StartupNotify=false
X-UnityGenerated=true
Terminal=true
Categories=Utility