[Desktop Entry]
Encoding=UTF8
Version=0.1.0
Type=Application
Name=HuginCLI
Icon=/opt/hugin-cli/icon.png
Path=/opt/hugin-cli
Exec=/opt/hugin-cli/Hugin
StartupNotify=false
OnlyShowIn=Unity;GNOME;
X-UnityGenerated=true