[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Hugin CLI
Icon=/opt/hugin-cli/icon.png
Path=/opt/hugin-cli
Exec=/opt/hugin-cli/Hugin
StartupNotify=false
OnlyShowIn=Unity;GNOME;
X-UnityGenerated=true